.home {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 50vw 50vw;
  align-content: center;
  font-family: 'Montserrat', sans-serif;
}

.home-text {
  justify-self: center;
}

.home-text h2 {
  font-size: 3rem;
  font-weight: 300;
  margin-bottom: 2rem;
}

.home-text p {
  font-size: 1.2rem;
}

.khan-image {
  width: 60%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
  justify-self: center;
}
