.header-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 5rem;
  background-color: var(--header-color);
  opacity: 0.9;
}

.header-list {
  display: flex;
  list-style: none;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.header-list-item {
  margin-right: 3rem;
  color: var(--bg-color);
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
}

.header-list-item-first {
  margin-right: auto;
  margin-left: 5rem;
}
